---
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="Contacto" pageDescription="Página de contacto" theme="dark">
    <section class="w-full h-72 bg-opacity-20 bg-grey bg-center" style="background-image: url('https://loopgk.com/wp-content/uploads/2021/02/lenguaje-min.jpg'); clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);">
        <div class="w-full h-full flex justify-center items-center bg-semi-black bg-opacity-60">
            <h2 class="text-5xl md:text-7xl font-bold">CONTACTO</h2>
        </div>
    </section>
    <form action="" class="w-2/5 h-96 border-2">
        <h2 class="text-center text-4xl uppercase font-bold text-semi-black">¡Escribeme!</h2>
        <input type="text" placeholder="" name="Nombre y Apellido" class="w-full border-2 mt-3 h-10 border-semi-black">
        <input type="text" name="Email" class="w-full border-2">
    </form>
</Layout>