---
import Layout from "../components/Layout.astro";
import { Tools } from "../components/ui/sgvs";
---

<Layout pageTitle="Información" pageDescription="Habilidades y estudios" theme="dark">
    <main class="my-20 text-semi-black text-center flex gap-3 flex-col justify-center items-centers">
        <p class="text-3xl text-center font-bold">¡¡¡¡En construcción!!!!</p>
        <img src="/assets/apu.jpg" width="300" alt="">
        <a href="/" class="w-fit m-auto px-7 py-2 rounded-full bg-semi-black text-white">Volver a Inicio</a>
    </main>
    <section></section>
</Layout>