---
interface Props{
    title: string
    color: string
}

const {title, color} = Astro.props
---

<section id="banner" style={`background: linear-gradient(${color === "black" ? "#131111" : "#280733"} 430px, #fff 430px);`} class="w-full relative md:static h-[650px] flex flex-col-reverse text-white justify-center items-center md:flex-row">
    <div class="w-[55%] md:mt-[476px] z-50 h-full flex justify-center items-center  md:items-start flex-col text-center">
        <div class="flex justify-start absolute md:static items-start font-semibold font-poppins">
            <h2 class="text-2xl md:my-5 md:mx-20">Ignacio J. Pantoja</h2>
        </div>
        <div id="banner-text-bottom" class="md:h-1/2 flex justify-start items-start md:text-semi-black font-poppins">
            <h4 class="font-normal mt-20 md:mt-0 md:my-2 md:mx-20 text-center">{title}</h4>
        </div>
    </div>
    <div id="profile" style="background-image: url(/assets/nacho.webp);" class="w-full h-full absolute bg-local md:static md:w-[45%] md:h-[650px] bg-opacity-15 bg-center bg-cover"></div>
    <div class={`${color === "black" ? 'bg-semi-black' : "bg-purple-main"} w-full h-full bg-cover bg-opacity-40 absolute md:hidden`}></div>
</section>
<style>

    @media screen and (min-width: 768px) {
        #profile {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        }
    }
</style>
