<section id="banner">
    <div>
        <div id="banner-text-top">
            <h2>Ignacio J. Pantoja</h2>
        </div>
        <div id="banner-text-bottom">
            <h4>Front-End Developer</h4>
        </div>
    </div>
    <div id="profile"></div>
</section>

<style>
    
    
    #banner {
        width: 100%;
        height: 650px;
        background: linear-gradient(var(--black) 430px, var(--white) 430px);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #banner-text-top {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-family: Poppins;
        font-weight: 600;
    }

    h2 {
        margin: 15px 80px;
    }

    #banner-text-bottom {
        height: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: #131111;
        font-family: Poppins;
        font-weight: 100;
    }

    h4 {
        margin: 10px 80px;
    }

    #profile {
        width: 45%;
        height: 650px;
        background-color: #242034;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        background-image: url(/nacho.jpg);
        background-size: cover;
        background-position: center;
    }
</style>
