---
import {Instagram, Github, Gmail, Linkedin} from '../components/ui/sgvs'
---

<footer>
    <div style="border-left: 3px solid #fff; padding-left: 1em; height:fit-content">
        <h3>Ignacio Joaquín Pantoja</h3>
        <p>La Rioja, Argentina</p>
    </div>
    <div>
        <h3>Contacto</h3>
        <a target="_blank" href="https://instagram.com/nachoxs_"><Instagram /></a>
        <a target="_blank" href="mailto:pantojaignacio642@gmail.com"><Gmail /></a>
        <a target="_blank" href="https://www.linkedin.com/in/nachoxs15/"><Linkedin /></a>
        <a target="_blank" href="https://github.com/NachoXS15"><Github /></a>
    </div>
</footer>

<style>
    footer{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Poppins;
        color: white;
        background-color: #131111;
        padding-top: 1em
    }

    footer h3{
        margin-top: 0;
    }
    
    footer div a{
        text-decoration: none;
        color: white;
        margin-right: 1em;
        
    }
</style>