---
import {Instagram, Github, Gmail, Linkedin} from '../components/ui/sgvs'
---
<footer class="w-full h-[200px] flex flex-col justify-around items-center pt-4 bg-semi-black md:flex-row md">
    <div class="pl-4 h-fit text-center md:text-start md:border-l-4">
        <h3 class="">Ignacio Joaquín Pantoja</h3>
        <p>La Rioja, Argentina</p>
    </div>
    <hr class="w-3/5 inline border-white border md:hidden">
    <div class="flex flex-col items-center gap-2 md:items-start">
        <h4>Contacto</h4>
        <div class="flex gap-4">
            <a class="hover:scale-125 transition" target="_blank" href="https://instagram.com/nachoxs_"><Instagram /></a>
            <a class="hover:scale-125 transition" target="_blank" href="mailto:pantojaignacio642@gmail.com"><Gmail /></a>
            <a class="hover:scale-125 transition" target="_blank" href="https://www.linkedin.com/in/nachoxs15/"><Linkedin /></a>
            <a class="hover:scale-125 transition" target="_blank" href="https://github.com/NachoXS15"><Github /></a>
        </div>
    </div>
</footer>