---
import {Instagram, Github, Gmail, Linkedin} from '../components/ui/sgvs'
---
<footer class="w-full h-[150px] flex justify-around items-center pt-7 bg-semi-black">
    <div class="border-l-4 pl-4 h-fit">
        <h3 class="">Ignacio Joaquín Pantoja</h3>
        <p>La Rioja, Argentina</p>
    </div>
    <div class="flex flex-col gap-2">
        <h4>Contacto</h4>
        <div class="flex gap-4">
            <a class="hover:scale-125 transition" target="_blank" href="https://instagram.com/nachoxs_"><Instagram /></a>
            <a class="hover:scale-125 transition" target="_blank" href="mailto:pantojaignacio642@gmail.com"><Gmail /></a>
            <a class="hover:scale-125 transition" target="_blank" href="https://www.linkedin.com/in/nachoxs15/"><Linkedin /></a>
            <a class="hover:scale-125 transition" target="_blank" href="https://github.com/NachoXS15"><Github /></a>
        </div>
    </div>
</footer>