<nav class="max-w-full py-2.5 flex justify-around items-center bg-semi-black text-white">
    <div>
        <a href="../pages/services.astro" style="margin-right: 20px;"
            >SERVICES</a
        >
        <a href="../pages/">PROJECTS</a>
    </div>
    <img src="/logo.png" width="60" alt="" />
    <div>s
        <a href="">CONTACT</a>
    </div>
</nav>
