---

---
<div>
    <nav>
        <div>
            <a href="../pages/projects.astro" style="margin-right: 20px;">SERVICES</a>
            <a href="../pages/">PROJECTS</a>
        </div>
        <img src="/logo.png" width="60" alt="" />
        <div>
            <a href="">CONTACT</a>
        </div>
    </nav>
</div>
<style>
    nav {
        width: 100%;
        height: 80px;
        display: flex;
        background-color: rgb(15, 15, 15);
        justify-content: space-around;
        align-items: center;
        font-family: Poppins;
    }
    div > a {
        text-decoration: none;
        color: white;
    }
</style>
