---
import { Github, Gmail, Instagram, Linkedin } from "./ui/sgvs";

interface Props {
  color: string;
}

const { color } = Astro.props;
---

<nav class={`w-full animate-slide-in-top md:py-2.5 px-10 md:px-0 flex justify-between md:justify-around items-center relative ${color === "black" ? 'bg-semi-black' : "bg-purple-main "}`}>
    <div aria-hidden class="hidden md:block">
        <a class="font-medium mr-6 hover:underline transition" href="/#info">INFORMACIÓN</a>
        <!-- <a class="font-medium" href="/">HABILIDADES</a> -->
    </div>
    <a href="/" class="animate-slide-in-top hover:scale-110 transition"><img src='/assets/logo.png' class="w-24 h-24 md:w-16 md:h-16" alt="" /></a>
    <div aria-hidden class="hidden md:block">
        <a class="font-medium hover:underline transition" href="/projects" style="margin-right: 20px;">PROYECTOS</a>
        <a class="font-medium hover:underline transition" href="/contact">CONTACT</a>
    </div>
    <button id="menu-button"
      data-collapse-toggle="navbar-sticky"
      data-nav-toggle="#navbar-sticky"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-sticky"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
</nav>

<div class={`hidden md:hidden w-full ${color === "black" ? 'bg-semi-black' : "bg-purple-main "} absolute top-20 z-50`} id="menu-open">
    <div class="w-full bg-semi-black bg-opacity-20 h-fit z-50">
        <nav class="w-full flex flex-col gap-4 p-5 font-medium">
            <a class="font-medium active:scale-110 transition" href="/">INFORMACIÓN</a>
            <!-- <a class="font-medium" href="/">HABILIDADES</a> -->
            <a class="font-medium active:scale-110 transition" href="/projects">PROYECTOS</a>
            <a class="font-medium active:scale-110 transition" href="/">CONTACTO</a>
            <div class="flex gap-5 mt-4">
                <a class="active:scale-125 transition cursor-pointer" target="_blank" href="https://github.com/nachoxs15"><Github /></a>
                <a class="active:scale-125 transition cursor-pointer" target="_blank" href="https://instagram.com/nachoxs_"><Instagram /></a>
                <a class="active:scale-125 transition cursor-pointer" target="_blank" href="https://linkedin.com/nachoxs15"><Linkedin /></a>
                <a class="active:scale-125 transition cursor-pointer" target="_blank" href="mailto:pantojaignacio642@gmail.com"><Gmail /></a>
            </div>
        </nav>
    </div>
</div>

<script>
    const button = document.querySelector('#menu-button') as Element;
    const menuOpen = document.querySelector("#menu-open") as Element;

    button?.addEventListener("click", () => {
        menuOpen.classList.toggle("hidden");
    });
</script>