<nav class="w-full py-2.5 flex justify-around items-center bg-semi-black text-white">
    <div aria-hidden class="hidden md:block">
        <a class="font-medium" href="../pages/services.astro" style="margin-right: 20px;"
            >SERVICES</a
        >
        <a class="font-medium" href="../pages/">PROJECTS</a>
    </div>
    <img src="/logo.png" width="60" alt="" />
    <div aria-hidden class="hidden md:block">
        <a class="font-medium" href="">CONTACT</a>
    </div>
</nav>
