---
import ProjectsSection from "./Projects/ProjectsSection.astro"
---

<main class="w-full h-fit  bg-white flex flex-col items-center">
    <nav class="w-3/4 flex justify-center gap-5 items-center mt-14">
        <button class="text-6xl font-bold text-semi-black">Projects</button>
        <!-- <button class="text-3xl font-bold text-semi-black">Education</button>
        <button class="text-3xl font-bold text-semi-black">Extra Activities</button> -->
    </nav>
    <ProjectsSection />
</main>