---
import ExperiencesBlock from "./ExperiencesBlock.astro";
import EducationBlock from './EducationBlock.astro'
import LenguagesBlock from "./LenguagesBlock.astro";
import SideInfo from "./SideInfo.astro";
---

<section class="w-full min-h-screen text-semi-black text-center flex flex-col md:flex-row justify-center">
    <SideInfo />
    <section class="w-9/12 h-fit">
        <section class="w-full h-fit px-10 flex">
            <ExperiencesBlock />
            <EducationBlock />
        </section>
        <section class="w-full h-fit">
            <LenguagesBlock />
        </section>
    </section>
</section>