---
import ExperiencesBlock from "./ExperiencesBlock.astro";
import EducationBlock from './EducationBlock.astro'
import LenguagesBlock from "./LenguagesBlock.astro";
import SideInfo from "./SideInfo.astro";
---

    <section class="w-4/5 h-fit text-semi-black">
        <section class="w-full flex flex-col md:flex-row items-start justify-center h-fit">
            <ExperiencesBlock />
            <EducationBlock />
        </section>
    </section>
    <!-- <section class="w-full h-fit">
        <LenguagesBlock />
    </section> -->
    