---
import ExperiencesBlock from "./ExperiencesBlock.astro";
import EducationBlock from './EducationBlock.astro'

interface Props {
    profile: string
    color: string
}

const {profile, color} = Astro.props
---

    <section class={`xl:w-4/5 px-10 md:px-0 h-fit ${color === "black" ? "text-semi-black" : "text-purple-main"}`} id="info">
        <section class="w-full flex flex-col md:flex-row items-start justify-center h-fit">
            <ExperiencesBlock profile={profile} />
            <EducationBlock />
        </section>
    </section>
    