---
import ProjectsSection from "../components/projectsComp/ProjectsSection.astro"
---

<main class="w-full h-fit bg-white flex flex-col">
    <button class="text-6xl font-bold m-auto text-semi-black mt-14">Proyectos Destacados</button>
    <ProjectsSection />
</main>