---
---

<section>
    <div>
        <h2>Fotografía</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
    </div>
    <div>
        <h2>Programación</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
    </div>
    <div>
        <h2>Diseñador</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
    </div>
</section>

<style>
    section{
        width: 100%;
        
    }
</style>