---
---
<main>
    <section>
        <div class="fondo" id="foto">
            <h2>Fotografo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
        </div>
        <div class="fondo" id="prog">
            <h2>Programador</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
        </div>
        <div class="fondo" id="dis">
            <h2>Diseñador</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab?</p>
        </div>
    </section>

</main>

<style>
    main{
        height: 650px;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    
    div{
        width: 33%;
        height: 650px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Poppins;
        padding: 20px;
        text-align: center;
        transition: 0.5s;
    }

    section div:hover{
        transform: scale(1.1);
    }

    div h2, p{
        background-color: rgba(0, 0, 0, 0.8);
        padding: 5px 10px;
    }

    div h2{
        font-size: 1.8em;
    }
    div p{
        width: 60%;
        font-size: 1.5em
    }
    
    #foto{
        background-image: url(/public/foto.jpg);
    }
    #prog{
        background-image: url(/public/prog.jpg);
    }
    #dis{
        background-image: url(/public/dis.jpg);
    }

    .fondo{
        color: white;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.8);
    }

    </style>