---
import {Code, Design, Photographer} from './ui/sgvs'
---

<main class="w-4/5 h-[600px] mt-10 text-semi-black flex flex-col justify-around items-center md:h-[300px]">
    <section class="flex flex-col justify-around items-center text-center gap-4 md:flex-row ">
        <div class="flex flex-col items-center">
            <Photographer />
            <h2 class="text-3xl font-bold">Fotografo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                ab?
            </p>
        </div>
        <div class="flex flex-col items-center">
            <Code />
            <h2 class="text-3xl font-bold">Programador</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                ab?
            </p>
        </div>
        <div class="flex flex-col items-center">
            <Design />
            <h2 class="text-3xl font-bold">Diseñador</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
                ab?
            </p>
        </div>
    </section>
</main>