---
import { DNI, Tools, MapPin, Phone, Mail } from "../components/ui/sgvs";
---
<aside id="aside" class="w-full md:w-3/12 min-h-screen bg-semi-black text-white flex flex-col sticky">
    <div class="w-full min-h-screen sticky top-0">
        
    </div>
</aside>
<script>
    window.addEventListener('scroll',  () => {
        const aside = document.getElementsByTagName('aside');
        
    })
</script>