---
import { Icons, IconsColors } from "../config/Icons"

// const AstroIcon = Icons["astro"]
// const AstroColor = IconsColors["white"]

// const TailwindIcon = Icons["tailwind"]
// const TailwindColor = IconsColors["cyan"]
// const HtmlIcon = Icons["Html"]
// const HtmlColor = IconsColors["white"]

// const TailwindIcon = Icons["tailwind"]
// const TailwindColor = IconsColors["cyan"]
// const AstroIcon = Icons["astro"]
// const AstroColor = IconsColors["white"]

// const TailwindIcon = Icons["tailwind"]
// const TailwindColor = IconsColors["cyan"]
// const AstroIcon = Icons["astro"]
// const AstroColor = IconsColors["white"]

// const TailwindIcon = Icons["tailwind"]
// const TailwindColor = IconsColors["cyan"]
// const AstroIcon = Icons["astro"]
// const AstroColor = IconsColors["white"]

// const TailwindIcon = Icons["tailwind"]
// const TailwindColor = IconsColors["cyan"]



interface Props{
    profile: string
}

const {profile} = Astro.props
---

<section class={`w-full h-fit py-2 flex flex-col justify-center ${profile == "editor" ? 'bg-purple-main' : 'bg-semi-black'}`}>
    <h2>Mis Habilidades</h2>
    <div></div>
</section>