---
import { CiStar } from "react-icons/ci";

import {Star} from 'lucide-react'
---
<span class="flex items-center gap-2 px-5 py-2 rounded-full text-semi-black text-sm font-bold mr-3 mb-3" style="background-color: #edc605;"><Star />Proyecto Favorito</span>